# dependencies:
node_modules/

# production:
dist/
build/

# TEMP (will be replaced by "dist" or "build" later):
public/

# config/

**/.env

# .eslintrc.json
# .eslintignore

# public/assets/
# src/assets/
# public/**/*.js.map
# public/**/*.css.map

# misc
.DS_Store
npm-debug.log
yarn-error.log
**/.idea/
**/.vscode/
**/temp/
**/tmp/
